<form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">
  <div class="text-center mb-4">
    <img class="mb-4" src="assets/images/icons8-storage-64.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Dating App</h1>
    <p>Login to start meeting people</p>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required="" autofocus="" [(ngModel)]="model.username" >
    <label for="inputEmail">Username</label>
  </div>

  <div class="form-label-group ">
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="" [(ngModel)]="model.password">
    <label for="inputPassword">Password</label>
  </div>


  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-success btn-block" type="submit">Login</button>
  <button class="btn btn-lg btn-info btn-block" type="button" (click)="register()">Don't have an account?</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
</form>