<div class="text-center mt-3">
  <h2>Discover New People - {{ pagination.totalItems }} found</h2>
</div>

<div class="container mt-5">
  <form
    #filtersForm="ngForm"
    (submit)="loadUsers()"
    class="form-inline"
    novalidate
  >
    <div class="form-group">
      <label for="minAge">Age From</label>
      <input
        type="number"
        class="form-control ml-1"
        style="width: 70px"
        id="minAge"
        name="minAge"
        [(ngModel)]="filters.minAge"
      />
    </div>

    <div class="form-group px-2">
      <label for="maxAge">Age To</label>
      <input
        type="number"
        class="form-control ml-1"
        style="width: 70px"
        id="maxAge"
        name="maxAge"
        [(ngModel)]="filters.maxAge"
      />
    </div>

    <div class="form-group px-2">
      <label for="gender">Show: </label>
      <select
        class="form-control ml-1"
        style="width: 130px"
        id="gender"
        name="gender"
        [(ngModel)]="filters.gender"
      >
        <option [value]="gender.value" *ngFor="let gender of genderList">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-danger" style="margin-left:10px">
      Apply Filters
    </button>
    <button
      (click)="resetFilters()"
      type="button"
      class="btn btn-info"
      style="margin-left:10px"
    >
      Reset Filter
    </button>

    <div class="col">
      <div class="btn-group float-right">
        <button
          type="button"
          name="orderBy"
          (click)="loadUsers()"
          [(ngModel)]="filters.sortBy"
          btnRadio="lastActive"
          class="btn btn-danger"
        >
          Last Active
        </button>
        <button
          type="button"
          name="orderBy"
          (click)="loadUsers()"
          [(ngModel)]="filters.sortBy"
          btnRadio="created"
          class="btn btn-danger"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-user-card [user]="user"></app-user-card>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.perPage"
      [(ngModel)]="pagination.page"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
