<nav class="navbar navbar-expand-md navbar-dark bg-danger">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      >Dating App</a
    >

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/people']">People</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/renamethisplease']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
    <div class="dropdown" dropdown>
    <span class="mr-1"><img src="{{photoUrl || 'assets/images/user.png'}}" alt=""></span>
      <a class="dropdown-toggle text-light pointer" dropdownToggle>
        Welcome {{ authService.decodedAccessToken.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/profile/edit']"
          ><i class="fa fa-user"></i> Edit Profile</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i> Log out</a
        >
      </div>
    </div>
  </div>
</nav>
